#grooming-card>.modal-dialog, #new-client-modal>.modal-dialog, #appt-modal>.modal-dialog, #pet-modal>.modal-dialog {
    max-width: 90%;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}